main {
    width: 100vw;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

    * {box-sizing: border-box;}

    header {
        width: 100%;
        height: 60px;
        background-color: #3f51b5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        color: white;
        font-size: 1.2rem;
        position: sticky;
        top: 0;

        h1 {
            margin: 0;
            font-weight: 500;
        }

        .info_user {
            display: flex;
            align-items: center;
            gap: 50px;
        }
    }

    section {
        width: 100%;
        padding: 50px;

        mat-form-field {
            width: 100%;
        }
    }

    .pokemon_img {
        height: 75px;
    }

    .pokemon_types {
        display: flex;
        gap: 1rem;

        span {
            padding: 7.5px 20px;
            background-color: #3f51b5;
            border-radius: 20px;
            color: #fff;
            font-weight: 500;
            text-transform: capitalize;
            text-shadow: #666 0 0 5px;
        }
    }
}